{% extends "base.html" %}

{% block title %} Listado de Pedidos {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar Nuevo Pedido</a>

    </div>
    <div class="card-body">
        <h4 class="card-title">Pedidos</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Fecha</th>
                        <th>Empresa</th>
                        <th>Cliente</th>
                        <th>Destino</th>
                        <th>Cant Pallets</th>
                        <th>Demora</th>
                        <th>Observaciones</th>
                        <th> </th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr class="">
                        <td>{{ pedido.id }}</td>
                        <td>{{ pedido.fecha }}</td>
                        <td>{{ pedido.empresa }}</td>
                        <td>{{ pedido.cliente }}</td>
                        <td>{{ pedido.destino }}</td>
                        <td>{{ pedido.cant_pallets }}</td>
                        <td>{{ pedido.demora }}</td>
                        <td>{{ pedido.observacion }}</td>
                        <td>
                            <a name="" id="" class="btn btn-info" href="{% url 'editar' pedido.id %}" role="button">Editar</a>
                            |
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' pedido.id %}" role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>

{% endblock %}