{% extends "base.html" %}

{% block title %} Nosotros {% endblock %}

{% block contenido %}
    <h1>Seccion de nosotros</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quisquam consequatur, atque nemo, ipsa obcaecati
        dolores cupiditate nam, incidunt earum ex ratione. Quaerat assumenda omnis nesciunt itaque officiis. Eos,
        aspernatur.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, fugiat veniam! Placeat praesentium consequatur
        hic impedit ut eius dicta magni vitae, saepe tempora laudantium aperiam cupiditate nulla dolore excepturi labore.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, ut quas blanditiis molestiae eveniet iure?
        Impedit blanditiis veritatis est maxime natus omnis mollitia a explicabo magnam, architecto velit itaque.
        Exercitationem!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni cupiditate modi laborum eligendi, nostrum placeat esse
        amet. Ad, repellendus? Tempora ad rerum, et quaerat nulla obcaecati ipsa nam maiores perspiciatis.</p>

{% endblock %}