{% extends "base.html" %}

{% block title %} Listado de Articulos {% endblock %}

{% block contenido %}
    
    <div class="card">
        <div class="card-header">
            Listar Artículos
        </div>
        <div class="card-body">
            <h4 class="card-title">Artículos</h4>
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Producto</th>
                            <th>Presentación</th>
                            <th>Marca</th>
                            <th>Imagen</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td>1</td>
                            <td>Café</td>
                            <td>molido x 500grs</td>
                            <td>Cabrales</td>
                            <td>Imagen.jpg</td>
                            <td> Editar / Borrar </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
    
{% endblock %}